@import "wallust-colors.css";

* {
    border: none;
    border-radius: 0;
    font-family: "Ubuntu Nerd Font", "FreeSans";
    font-size: 13px;
    font-weight: bold;
}

window#waybar {
    background: @background;
    color: @foreground;
    margin: 0;
}

#window {
    font-weight: bold;
    font-family: "monospace";
}

#workspaces button {
    padding: 5px 5px;
    background: transparent;
    color: @color1;
    font-weight: bold;
}
#workspaces button.focused {
    color: @color2;
}
#workspaces button.urgent {
  background-color: @color3;
}

#mode {
    background: @background;
}

.modules-left,
.modules-center,
.modules-right {
	/*background: @background;*/
	border-radius: 6px;
	margin: 0;
	padding: 0;
}

/* Base styling for modules */
#workspaces,
#mode,
#window,
#idle_inhibitor,
#pulseaudio,
#cpu,
#memory,
#clock,
#battery,
#backlight,
#disk,
#custom-separator,
#custom-powermenu,
#taskbar,
#tray {
	padding: 2px 10px 0 10px;
}

#temperature {
  color: #999;
  font-size: 10px;
  padding: 3px 10px 0 0;
}
#temperature.critical {
  color: #ff5555;
}

#custom-vpn.disconnected {
  color: #cc0000;
}
#custom-vpn.connected {
  color: #00ff00;
}

#custom-separator {
	opacity: 0;
	padding: 0;
}

#battery.warning,
#cpu.warning,
#disk.one.warning,
#memory.warning {
  background-color: inherit;
	color: #ffb86c;
}

#battery.critical,
#cpu.critical,
#disk.one.critical,
#memory.critical,
#network.disconnected,
#pulseaudio.muted {
	color: #ff5555;
}

#tray {
	padding: 5px 3px 5px 3px;
}
#custom-spotify {
  color: #A6E3A1;
  padding-left: 15px;
  padding-right: 5px;
}
